.wrapper {
  padding: 10px;

  text-align: center;
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  display: grid;
  grid-template-areas: 
  "h l"
  "m l";

  grid-template-columns: 1fr 2fr;
  grid-template-rows:140px 400px;
 
}

